*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.form-section{
    width: 100%;
    background-color:blue;
    height: 100vh;
}

.container{
    width:1140px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
  width: 900px;
  height: 70vh;
 background-color:white;
 display: flex;   
}

.left-side, .right-side{
  flex-basis: 50%;
}
.left-side{
    background: url(../img/cc.jpg) center center no-repeat;
    background-size: cover;
}
body{
font-family: "poppins", sans-serif;
}

.right-side{
padding: 50px;
}

input, select, textarea{
    width: 100% !important;
    padding: 10px 0;
    margin: 10px 0;
    background-color: gray;
}
.name input{
    width: 48%;
}
.name .first-name{
    margin-right: 10px;
    display: flex;
}
.container input{
    width: auto;
}
input::placeholder, textarea::placeholder{
font-family: poppins;
}
select{
font-family: poppins;
}





